/* Reset CSS para Flexbox */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
box-sizing: border-box;
}
html,
body {
width: 100%;
height: 100%;
}
/* --- FIN reset CSS para Flexbox --- */
/* Reset CSS Márgenes y Padding */
*{
padding:0;
margin:0;
}
/* --- FIN Reset CSS Márgenes y Padding --- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

