div.cardCounter{
  background-color: rgb(211, 211, 211);
  width: 220px;
  padding: 100px 10px 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
div.counter {  
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 4.5px;
  width: 150px;
  /* line-height: 20px; */
  height: 39.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.showCount{
 
}
.buttonItem.minus{
    background-color: rgb(180, 180, 180);
    
}

.buttonItem.add{
    background-color: rgb(180, 180, 180);
    
}

.botonAgregar{
  margin-top: 10px;
  background-color: #fff;
}