/* Estilos NavBar */
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* border: 2px dotted red; */
  background-color: #212529;
  height: 45px;
}
li.brand{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #f4f4f4;
    font-weight: 700;
    /* border: 1px dashed red; */
}
li.brand input{
    margin-right: 10px;
}

li > a {
    text-decoration: none;
    color: #f4f4f4;
}

